<!-- templates/Biseccion/biseccion_historial.html -->
{% extends "Biseccion/base.html" %}

{% block content %}
  <h2>Historial del Método de Bisección</h2>
  <table border="1" style="border-collapse: collapse; width: 100%;">
    <thead>
      <tr style="background-color: #f2f2f2;">
        <th>Fecha</th>
        <th>Función</th>
        <th>Valor a</th>
        <th>Valor b</th>
        <th>Tolerancia</th>
        <th>Raíz</th>
        <th>Iteraciones</th>
        <th>Error Final</th>
      </tr>
    </thead>
    <tbody>
      {% for record in history %}
        <tr>
          <td>{{ record.created_at }}</td>
          <td>{{ record.function }}</td>
          <td>{{ record.a_value }}</td>
          <td>{{ record.b_value }}</td>
          <td>{{ record.tol_porcentual }}</td>
          <td>{{ record.root }}</td>
          <td>{{ record.iterations }}</td>
          <td>{{ record.final_error }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'calcular_Biseccion' %}" class="btn btn-primary mt-4">Calcular metodo de Biseccion</a><br>
{% endblock %}