{% extends 'Biseccion/base.html' %}
    
{% block content %}
        <h1 class="text-center f">Creadores</h1> <br>
        <div class="row">
            {% for creator in creators %}
                <div class="col-md-6 mb-4">
                    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                        {% if creator.image_url %}
                            <img src="{{ creator.image_url }}" class="card-img-top img-fluid" style="height: 300px; object-fit: cover;" alt="Imagen del creador">
                        {% endif %}
                        <div class="card-body ">
                            <h5 class="card-title">{{ creator.first_name }} {{ creator.last_name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ creator.email }}</h6>
                            <p class="card-text">{{ creator.bio }}</p>
                            <p class="card-text">
                                <strong>Desarrollo:</strong> {% for desarrollo in creator.Desarrollo %}
                                    {{ desarrollo }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="card-text">
                                <strong>Realización:</strong> {% for realizacion in creator.Realizacion %}
                                    {{ realizacion }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
