{% extends 'Biseccion/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
   <div class="text-center contenido_center   fade-in">
     <h2 class="mb-4">¡Bienvenido!</h2>
     {% if user.is_authenticated %}
        <p>Hola {{ user.username }}!</p>
        <div class="contenido_center_row">
          <button class="butontest_boxshadow_Th3" ><a href="{% url 'editar' %}" >Editar contraseña</a> </button>
          <button class="butontest_boxshadow_Th3" ><a href="{% url 'perfil' %}" >Perfil</a> </button>
        </div>
        <br>
        <h2>Operacines : </h2>
        <div class="contenido_center_row">
          <button class="butontest_boxshadow_Th4" ><a href="{% url 'calcular_Biseccion' %}" >Metodo de Biseccion</a> </button>
          <button class="butontest_boxshadow_Th4" ><a href="{% url 'diferencias_divididas' %}" >Diferencias Numericas</a> </button>
        </div>

        <hr>
        <button class="butontest_boxshadow_Th2" ><a href="{% url 'cerrar_sesion' %}" >Cerrar Sesion</a> </button>
        <br>
      {% else %}
      <div class="contenido_center_row">

      <button class="butontest_boxshadow_Th set_butontest_boxshadow_color_lightgreen  "><a href="{% url 'login' %}" ><span class="glyphicon glyphicon-log-in"></span>Iniciar Sesion</a></button>
      <button class="butontest_boxshadow_Th3 set_butontest_boxshadow_color_blue"><a href="{% url 'registro' %}">Registrarse</a> </button>
      </div>
        
        <br><br><h2>Utilizar metodos sin registro : </h2>
        <br>
        <div class="contenido_center_row">

        <button class="butontest_boxshadow_Th3"><a href="{% url 'calcular_Biseccion' %}" >Metodo de Biseccion</a> </button>
        <button class="butontest_boxshadow_Th3"><a href="{% url 'diferencias_divididas' %}">Diferencias Numericas</a> </button>
        </div>
        <br>
        <br>
      {% endif %}
   </div>
{% endblock %}