{% extends 'Biseccion/base.html' %}

{% block title %}Loguearse{% endblock %}

{% block content %}
<div class="text-center fade-in">
    <h2 class="mb-4">¡Bienvenido!</h2>
    <form method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <br> 
        <button type="submit" class="butontest_boxshadow_Th set_butontest_boxshadow_colorlightgreen">Loguearse</button>
    </form>
    {% if form.errors %}
        <div class="alert-error">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}
