{% extends 'Biseccion/base.html' %}

{% block title %}Loguearse{% endblock %}

{% block content %}
  <div class="text-center fade-in">
    <h2 class="mb-4">¡Bienvenido!</h2>
    <img src="https://th.bing.com/th/id/OIP.P_4Oo2saYQaWxBy6F3lY7wAAAA?rs=1&pid=ImgDetMain" style="width=100px; height:100px" class="rounded mx-auto d-block" alt="...">
    {% if user.is_authenticated %}
      <p>Hola {{ user.username }}!</p>
      
      <button class="butontest_boxshadow_Th"><a href="{% url 'cerrar_sesion' %}" class="btn btn-danger">Cerrar Sesion</a></button>

      <br>{{ user.username }}
    {% else %}
    <button class="butontest_boxshadow_Th"><a href="{% url 'login' %}" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span>Loguearse</a></button>
    <button class="butontest_boxshadow_Th"><a href="{% url 'cerrar_sesion' %}"class="btn btn-success">Registrarse</a></button>

    {% endif %}
  </div>
{% endblock %}