{% extends 'Biseccion/base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="text-center fade-in">
    <h2 class="mb-4">¡Bienvenido!</h2>
    {% if user.profile.image %}
      <img src="{{ user.profile.image.url }}" class="rounded-circle mx-auto d-block" style="width: 200px; height: 200px;" alt="Imagen de perfil">
    {% endif %}
    <p>Hola, {{ user.username }}!</p>
    <a href="{% url 'cerrar_sesion' %}" class="btn btn-danger">Cerrar Sesión</a>
</div>
{% endblock %}
