<!-- En metodo_biseccion.html -->
{% extends 'Biseccion/base.html' %}

{% block content %}
    <div class="fade-in ">
        <h1 class="titulo2">Método de Bisección</h1>

        <h2>Explicación Teórica</h2>
        <p>{{ explicacion_teorica|safe }}</p>

        <h2 class="Font_Tema" >Fórmulas del Método de Bisección</h2>
        <ul>
            {% for formula in formulas %}
            <li>
                <h3>{{ formula.titulo }}</h3>
                <p><strong>Fórmula:</strong> {{ formula.formula }}</p>
                <p>{{ formula.explicacion }}</p>
            </li>
            {% endfor %}
        </ul>
        <br><br>

        <button class="butontest_boxshadow_Th3"><a href="{% url 'calcular_Biseccion' %}" >Calcular metodo de Biseccion</a></button>

    </div>
{% endblock %}
